.center {
    margin: auto;
    width: 50%;
    border: 3px solid darkgrey;
    padding: 10px;
    margin-top:10%;
    background-color: lightgray;
}
.middle {
    margin: auto;
    width:80%;
}
table select{
    width: 100%;
}
table {
    table-layout: fixed;
}
.ramka{
    border: 2px solid darkgrey;
}